/* BRAND COLORS */

:root {
    --brand-color-slate:  #434455;
    --brand-color-white: #FFFFFF;
    --brand-color-iris: #4D5AE5;
   --brand-color-navyblue: #2E2F42;
   --brand-color-ocean: #404BBF;

--brand-color-CLOUD:#F4F4FD;
--brand-color-CORNFLOWER:  #E7E9FC;
--gap: 10px

  }

.section{
    padding-block:120px;
}

.container{
    width: 100%;
    width: 1128px;
    margin: auto;
    justify-content: space-between;
    padding: 0 15px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

  body{
  font-family:"Roboto" , sans-serif;
  background-color:#FFFFFF ;
  color: #434455;
  font-weight: 400;
 }    
            /*LOGO*/
.link{
    text-decoration: none;
}
 .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em ;
    text-transform: uppercase;
    color:var(--brand-color-iris);
 }

 .logo-span{
color:var(--brand-color-navyblue);

 }

 
 .link:hover{
    color:var(--link-hover);
 }
 .link:focus{
    color:var(--link-hover);
 }
 .logo-studio{
    color:var(--text-color);
 }                             


    .menu-link {
    font-size: 16px ;
    font-weight: 500 ;
    color: var(--brand-color-navyblue);
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    }

    .menu-link:hover,
    .menu-link:focus,
    .menu-link:active {
    color: var(--brand-color-ocean) ;
    }
                        
  .header-line{
    border-bottom: solid 1px;;
  }
  
  .navigation{
    display: flex;
  }

  .header{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
        /*HERO*/
     .hero{
        background-color:var(--brand-color-navyblue) ;
        
     }
    .hero-title{
        color:var(--brand-color-white);
        font-size: 56px ;
        font-weight: 700 ;
        line-height: 1.07 ;
        letter-spacing: 0.02em ; 
        text-align: center ;


   }
   .hero-btn{
    background-color: var(--brand-color-iris) ;
    font-weight: 500 ;
    line-height: 1.5 ;
    letter-spacing: 0.04em ;
    color:var(--brand-color-white) ;
    cursor: pointer ;
    font-size: 16px ;
    font-family: "Roboto",sans-serif;
    border: none;
    border-radius: 4px;
    text-align: center;
     }

     .hero-btn:hover,
     .hero-btn:focus,
     .hero-btn:active{
    background-color:var(--brand-color-ocean) ;
     }

.section-important{
    padding-block:120px
}

.caption-important{
padding: 32px 16;
text-align: center;
}

.important-item{
   width: 264px;
   border-radius: 0px;

}

.important-tittle{
    font-size: 20px ;
    font-weight: 500 ;
    color: var(--brand-color-navyblue) ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;

}
.important-text{
    font-style: 16px ;
    line-height:  1.5 ; 
    letter-spacing:0.02em ;
}
                        /*WHAT ARE WE DOING OFFERT*/

.caption-what-are-we-doing{
    text-align: center;
    padding: 32px 16px ;
}

.studio-head{
    font-size: 36px ; 
    line-height: 1.11 ;
    text-align: center ;
    letter-spacing: 0.02em ;
    text-transform: capitalize ;
    color: var(--brand-color-navyblue) ;
}


                        /*TEAM*/
.section.our-team{
    background-color: var(--brand-color-CLOUD);
}

.list-our-team{
    gap: var(--gap);
}

.item-our-team{
    background-color: #FFFFFF;
    border-radius:0px 0px 4px 4px;
    width: var(--brand-color-white);
}

.caption-our-team{
    padding: 32px 16px;
    text-align: center;
}

.team-head{
    font-size: 36px ;
    line-height: 1.11 ;
    text-align: center ;
    letter-spacing: 0.02em ;
    text-transform: capitalize ;
    color: var(--brand-color-navyblue) ;
    }

.team-tittle{
    color: #2E2F42 ;
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
}

.team-text{
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    }

                                             /* Footer*/
.footer {
    background-color: var(--brand-color-navyblue) ;
    color:var(--brand-color-iris) ;
}

.section-footer{
    background-color: var(--brand-color-navyblue);
    padding-block:120px
}

.footer-span{
color:var(--brand-color-CLOUD);

}
.footer-logo{
    font-family: "Raleway",sans-serif ;
    font-weight: 800 ;
    font-size: 18px ;
    line-height: 1.17 ;
    letter-spacing: 0.03em ;
    text-transform: uppercase ;
    color: var(--brand-color-iris);
}
.footer-text{
    line-height: 1.5 ;
    letter-spacing: 0.02em ;
    color:#F4F4FD
}

                                            /*BUTTON*/
.btn {
    color: var(--brand-color-iris) ;
    background-color: #F4F4FD ;
    font-size: 16px ;
    font-weight: 500 ;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    line-height: 1.5 ;
    letter-spacing: 0.04em ;

    }
    
    .btn:hover
{
color: #FFFFFF;
background-color:#404BBF;
}
.btn:focus,
.btn:active{
    color: #FFFFFF;
    background-color: #404BBF;
}


   
    .all-btn{
        background-color:var(--brand-color-CLOUD) ;
        color:var(--brand-color-iris);
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        line-height: 1.5 ;
        letter-spacing: 0.04em ;
      
}
    
.all-btn:hover:hover,
.all-btn:focus:focus,
.all-btn:active:active {
    background-color: #FFFFFF;
}
.section-portfolio{
    padding: 96px 0 120px 0;
}
.project-list-filters{
    gap:var(--gap);
}

 .project-tittle{
    color: var(--brand-color-navyblue) ;
    font-weight: 500 ;
    font-size: 20px ;
    line-height: 1.2 ;
    letter-spacing: 0.02em ;
 }

.project-text{
    font-size:16px;
    letter-spacing: 0.02em ;
    line-height: 1.5 ;

}

                                                    /*ADRESS*/
.address{
    font-style: normal;
}

.address-item {
font-size: 16px ;
line-height: 1.5 ;
letter-spacing: 0.02em ;
text-decoration: none;
color: #434455;
display: inline;
margin-right:  50px;
}
 
.address-item:last-child{
margin-right: 0;
}

.list{
    list-style: none;
}

.address-item:hover,
.address-item:focus,
.address-item:active {
color: var(--brand-color-ocean) ;
}